html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
/*загальні стилі для сторінки */
:root {
  --title-text-color: rgb(66, 66, 66);
  --primary-text-color: #212121;
  --secondary-text-color:rgb(66, 66, 66, 0.66);
  --third-text-color: rgb(255, 255, 255, 0.66);
  --accent-color: #ffffff;
  --background-color: #ffffff;
  --primary-background-color: rgb(238, 238, 238);
  --second-background-color: rgba(0, 0, 0, 0.13);
  --icon-color-first: #616161;
  --icon-color-second: #bdbdbd;
}
 

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.78;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

/* стиль для линков */
.link {
  text-decoration: none;
}

/* стили для списков */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 280px) {
  .container {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }
}

@media screen and (min-width: 680px) {
  .container {
    width: 680px;
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 960px) {
  .container {
    position: relative;
    width: 960px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 0;
    background-color: var(--background-color); 
  }
}

@media screen and (min-width: 280px) {
.title {
      font-weight: bold;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: .01em;
      text-align: center;
      color: var(--title-text-color);
      text-transform: uppercase;
      margin-top: 10px;
      margin-bottom: 20px;
      padding-left: 3px;
      padding-right: 3px;
}
}

@media screen and (min-width: 980px) {
  .title {
    text-align: start;
  }
  .featured-wrap {
    width: 100%;
  }
}

  .icon{
     fill: var(--icon-color-second);
    }

@media screen and (min-width: 280px) {
  .button-back,.button-next {
    display: none;
  }
  .featured-list{
  display: flex;
  flex-direction: column;
}
}

@media screen and (min-width: 680px) {
  .button-back,
  .button-next {
    display: none;
  }
  .featured-list{
   display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .button-back {
    position: absolute;
    top: 50%;
    left: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(---primary-background-color);
    border: none;
    cursor: pointer;
  }
  
  .button-next {
    position: absolute;
    top: 50%;
    right: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(---primary-background-color);
    border: none;
    cursor: pointer;
  }
  
  .button-next:hover,
  .button-back:hover {
    background-color: var(--second-background-color);
  }
  
  .button-next:hover .icon,
  .button-back:hover .icon 
  .button-next:focus .icon,
  .button-back:focus .icon{
    fill: var(--icon-color-first);
  }

  .featured-list {
    position: relative;
   display: grid;
    width: 100%;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    }
}

.featured-card{
  display: flex;
  justify-content: center;
  font-weight: normal;
  font-size: 29px;
  line-height: 28px;
  letter-spacing: .01em;
  text-align: center;
  color: var(--second-background-color);
  text-transform: lowercase;
  width: 240px;
  height:240px;
  background-color: var(--primary-background-color);
}
@media screen and (min-width: 680px) {
  .featured-card{
width: 100%;
height: 100%;
 }
}

.featured-item{
  position: relative;
  display: flex;
  margin-bottom: 20px;
  width: 240px;
  height: 240px;
  background-color: var(--primary-background-color); 
}

/* іконки -зірочки через бефор */
/* .featured-item::before{
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../in/icons/star-regular.svg);
  cursor: pointer;
} */
/* .featured-item:hover::before {
  
  background-image: url(../in/icons/star-solid.svg);
} */
.button-star{
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button-star .icon{
  fill: var(--icon-color-first);
  /* fill: blue; */
}
.button-star:hover .icon,
.button-star:focus .icon {
  fill: var(--icon-color-second);
/* fill: blue; */
}
  @media screen and (min-width: 680px) {
    .featured-item:nth-child(even){
     margin-right: 20px;
    }
    .featured-item:first-child{
    width: 100%;
    height: 500px;
    /* height: 100%; */
    }
    .featured-item:nth-child(n+2){
      width: calc((100% - 20px) / 2);
    }
    .featured-item:nth-last-child(-n+2) {
     margin-bottom: 0;
    } 
   }
  @media screen and (min-width: 960px) {
    .featured-item{
      margin: 0;
      width: 100%;
      height: 100%;
    }
    .featured-item:first-child {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
      width: 100%;
      width: 500px;
      height: 500px;
      margin-bottom: 0;
    }
    
    .featured-item:nth-child(n+2) {
      width: 240px;
      height: 240px;
      /* width: 100%; */
      margin-right: 0;
    }
    .featured-item:nth-last-child(-n+2) {
      display: none;
    }
  }
/* .featured-link{
  display: block;  
} */

.featured-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;padding-top: 20px;
  height: 100px;
  background-image: linear-gradient(
  to bottom, transparent, #424242);
  /* box-shadow:  0 -20px 10px -10px var(--primary-background-color);; */
  }

.featured-names {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: .01em;
  color: var(--accent-color);
  text-transform: capitalize;
  margin-bottom: 5px;
  cursor: pointer;
}

.featured-tags {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .01em;
  color: var(--third-text-color);
  text-transform: lowercase;
  cursor: pointer;
}
.last{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 680px) {
  .last{
    flex-direction: row;
        justify-content: center;
  }
  .last-item {
    width: calc((100% - 20px) / 2);
    margin-bottom: 5px;
  }
  .last-item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 960px) {
  .last{
    margin-right: 20px;
  }
  .last-item{
    width: 240px;
  }
}

.last-card{
  position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
      font-size: 28px;
      line-height: 28px;
      letter-spacing: .01em;
      text-align: center;
      color: var(--second-background-color);
      text-transform: lowercase;
      width: 240px;
      height:240px;
      background-color: var(--primary-background-color);
}

@media screen and (min-width: 680px) {
  .last-card{
     width: 100%;
  }
}
/* іконки -зірочки через бефор */
/* .last-card::before {
  position: absolute;
  top: 5px;
  left: 5px;
    content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../in/icons/star-regular.svg);
  cursor: pointer;
} */

/* .last-card:hover::before {
  background-image: url(../in/icons/star-solid.svg);
} */

  .last-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:flex-start;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .last-names{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: .01em;
    color: var(--primary-text-color);
    text-transform: capitalize;
    margin-bottom: 5px;
    cursor: pointer;
  }
  .last-tags{
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .01em;
    color: var(--secondary-text-color);
    text-transform: lowercase;
    cursor: pointer;
  } 

  @media screen and (max-width: 979px) {
    .last-banner {
      display: none;
    }
  }

  @media screen and (min-width: 960px) {
    .last-banner {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
      font-size: 28px;
      line-height: 28px;
      letter-spacing: .01em;
      text-align: center;
      color: var(--icon-color-second);
      text-transform: lowercase;
      width: 240px;
      background-color: var(--primary-background-color);
      background-image: url(/in/images/1646882054_52-kartinkin-net-p-cherno-belie-kartinki-kosmos-55.jpg);
      background-size: contain;
      background-position: center;
      background-repeat: repeat;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 960px) {
  .last-wrap{
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
  }
  }

  .footer-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    letter-spacing: .02em;
    color:var(--icon-color-second);
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    }
    
.footer-line{
    display: flex;
    flex-direction: column;
        width: 100%;
        border-top: 1px solid var(--second-background-color);
  }